@font-face {
    font-family: 'Poppins';
    src: url(../Programacion_web/font/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Poppins', sans-serif;
}

.header_container{
    display: block;
    position: sticky;
    align-content: center;
    background-color: rgb(113, 81, 58);
    padding: 0 0 0 0;
    width: 100%;
    top: 0;
}

.header_title{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 0 0 1%
}

.header_option_container{
    display: inline-block;
    margin-left: 5%;
    width: 60%;
    padding: 0 0 0 0;
}

.header_option{
    color: rgb(249, 240, 186);
    display: inline-block;
    text-decoration: none;
    padding: 0 5% 0 0;
}

.button_header_container{
    display: inline-block;
    margin-left: 5%;
    width: 10%;
}

.button_style_moneyType{
    display: inline-block;
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    background-color: rgb(220, 157, 90);
    border-radius: 100%;
    width: 85px;
    height: 50px;
    padding: 0px 20px 0px 20px;
}

.button_image_cart{
    display: inline-block;
    background-color:rgb(113, 81, 58);
    margin-left: 3%;
    margin-top: 2%;
    padding: 0 0 0 0;
}

.color_block1{
    display: block;
    height: 500px;
    background-color:lightgoldenrodyellow;
    height: 100%;
    margin: 0%;
    padding: 5%;
}
.color_block2{
    display: block;
    height: 500px;
    background-color:gold;
    height: 100%;
    margin: 0%;
    padding: 5%;
}
.color_block3{
    display: block;
    height: 100%;
    margin: 0%;
    padding: 5%;
    background-color:goldenrod;
}

fieldset{
    border: 0;
}

.review_container {
    text-align: center;
    border: 0;
    border-radius: 10px;
    padding: 1%;
    width: 400px;
    min-width: 25%;
    max-width: 400px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(197, 185, 160);
}

.review_container:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

h3{
    display: inline-block;
    align-content: center;
    align-self: center;
    border: 4px solid rgb(249, 240, 186);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: rgb(144, 102, 70);
}

label{
    height: 30px;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid rgb(249, 240, 186);
    display: block;
    margin: 0; 
    color: white;
    background-color: rgb(144, 102, 70);
}

.review_section_container {
    display: inline-block;
    margin: 10% 0 1% 0;
}

input{
    border: 3px solid rgb(144, 102, 70);
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 30px;
}

input:focus{
    outline: 4px solid rgb(255, 255, 255);
}

textarea{
    border: 3px solid rgb(144, 102, 70);
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 200px;
}

textarea:focus{
    outline: 4px solid rgb(255, 255, 255);
}

select{
    border: 3px solid rgb(144, 102, 70);
    border-radius: 5px;
    font-size: 16px;
    width: 310px;
    height: 30px;
    color: black;
}

select:focus{
    outline: 4px solid rgb(255, 255, 255);
}

.button_send{
    border: 0;
    border-radius: 5%;
    margin: 10% 0 10% 0;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(113, 81, 58);
}

.button_send:hover{
    transition: 0.2s;
    color: rgb(255, 255, 255);
    background-color: rgb(220, 157, 90);
}